.home_box {
  word-spacing: 50px;
}

.home_box_reglement,
.home_box_equipe,
.home_box_join {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  margin-top: 10%;
  align-items: center;
  background-image: linear-gradient(
      45deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(
      90deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(
      67.5deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(90deg, rgb(195, 223, 84), rgb(118, 43, 234));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

.home_box_join {
  margin-bottom: 10%;
}

.home_welcome_image {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
