html {
  background: linear-gradient(to bottom, #0B2816, #143F28);
  width: 100%;
  height: 100%;
  /*padding-bottom: 500px;*/
  padding-bottom: 50%;
}

.present {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 250px 0 0 150px;
  width: 55%;
}

.present-texte {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}

.present #message-container {
  font-size: 100px;
}

.emoji-wave img {
  position: absolute;
  right: 10%;
  top: 200px;
  width: 30%;
}

#cursor {
  display: inline-block;
  width: 0.5em;
  height: 1px;
  background-color: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

#message {
  color: #CCCF00;
}

#divTexte {
  display: flex;
  font-size: 50px;
  position: relative;
  height: 51px;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1770px) {
  .present {
    width: 53%;
  }
  #divTexte {
    font-size: 40px;
    height: 41px;
  }
  .present #message-container {
    font-size: 90px;
  }
  @media screen and (max-width: 1555px) {
    .present {
      width: 50%;
    }
    #divTexte {
      font-size: 30px;
      height: 31px;
    }
    .present #message-container {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 1440px) {
    .present {
      width: 45%;
    }
    .present #message-container {
      font-size: 72px;
    }
  }
  @media screen and (max-width: 1410px) {
    .emoji-wave img {
      top: 500px;
      right: 50%;
      transform: translate(50%, 0);
      width: 35%;
    }
    .present {
      margin: 250px 0 0 80px;
      width: 85%;
    }
    #divTexte {
      font-size: 40px;
      height: 41px;
    }
    .present #message-container {
      font-size: 80px;
    }
    @media screen and (max-width: 1250px) {
      .present #message-container {
        font-size: 70px;
      }
      @media screen and (max-width: 1100px) {
        .present #message-container {
          font-size: 60px;
        }
        .present {
          margin: 200px 0 0 80px;
        }
        .emoji-wave img {
          top: 470px;
        }
        @media screen and (max-width: 950px) {
          .present {
            width: 80%;
          }
          .present {
            margin: 150px 0 0 80px;
          }
          .emoji-wave img {
            top: 420px;
          }
        }
        @media screen and (max-width: 670px) {
          .present {
            margin: 150px 0 0 50px;
          }
          .emoji-wave img {
            top: 320px;
          }
          .present #message-container {
            font-size: 40px;
          }
          #divTexte {
            font-size: 20px;
            height: 21px;
          }
          @media screen and (max-width: 450px) {
            .present #message-container {
              font-size: 35px;
            }
            #divTexte {
              font-size: 15px;
              height: 16px;
            }
            @media screen and (max-width: 390px) {
              .present {
                margin: 100px 0 0 30px;
              }
              .emoji-wave img {
                top: 250px;
              }
              .present #message-container {
                font-size: 27px;
              }
              #divTexte {
                font-size: 7px;
                height: 8px;
              }
            }
          }
        }
      }
    }
  }
}