.home_box {
  word-spacing: 50px;
}

.home_box_reglement,
.home_box_equipe,
.home_box_join {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  margin-top: 10%;
  align-items: center;
}

.home_box_join {
  margin-bottom: 10%;
}

.home_welcome_image {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: -7%;
}
