.rules_box_1 {
  display: flex;
  word-spacing: 50px;
  align-items: center;
  flex-direction: column;
}

.rules_box_apparence_du_profil {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  margin-top: 5%;
}

.rules_box_text_1 {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  word-spacing: 0;
  margin-top: 3%;
}

.rules_box_2 {
  display: flex;
  word-spacing: 50px;
  align-items: center;
  flex-direction: column;
}

.rules_box_ecrits {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  margin-top: 5%;
}

.rules_box_text_2 {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  word-spacing: 0;
  margin-top: 3%;
}

.rules_box_3 {
  display: flex;
  word-spacing: 50px;
  align-items: center;
  flex-direction: column;
}

.rules_box_vocaux {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  margin-top: 5%;
}

.rules_box_text_3 {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  word-spacing: 0;
  margin-bottom: 10%;
  margin-top: 3%;
}

.rules_link {
  background-color: rgb(75, 75, 75);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  font-size: 20px;
}

.rules_link a {
  color: white;
  text-decoration: none;
}

.footer_text {
  color: rgb(204, 207, 0);
  margin-left: -150px;
}
