@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Retroica';
  src: url('fonts/Retroica.ttf') format('truetype');
}

html {
  font-family: 'Retroica', 'Roboto';
  background: linear-gradient(to bottom, #0B2816, #143F28);
}

nav {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  background-color: #0B2816;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav a {
  color: white;
  text-decoration: none;
}

nav .nav-select:hover {
  color: #CCCF00;
}

.sulfuryLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  font-size: 30px;
}

.sulfuryLogo img {
  width: 75px;
}

.page-select::before {
  content: "";
  display: block;
  position: relative;
  top: 42.5px;
  height: 3px;
  background: #34c924;
}

.page-select {
  color: #CCCF00;
}

.nav_link {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  nav {
    font-size: 22px;
  }
  .sulfuryLogo {
    font-size: 25px;
    width: 220px;
  }
  .sulfuryLogo img {
    width: 65px;
  }
  .page-select::before {
    top: 35px;
  }
  @media screen and (max-width: 1020px) {
    nav {
      font-size: 17px;
    }
    .sulfuryLogo {
      font-size: 20px;
      width: 170px;
    }
    .sulfuryLogo img {
      width: 50px;
    }
    .page-select::before {
      top: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav_link {
    flex-direction: row;
  }
  .nav_burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_link {
    display: none;
  }
  nav {
    display: block;
  }
  .nav_burger {
    display: flex;
    padding: 30px 50px 30px 0;
    font-size: 25px;
    justify-content: right;
  }
  #nav_burger:hover {
    cursor: pointer;
  }
  .page-select::before {
    display: none;
  }
  .nav_link.show_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
  }
  .sulfuryLogo.show_list, .nav_link_home.show_list, .nav_link_reglement.show_list, .nav_link_equipe.show_list, .nav_link_join.show_list {
    font-size: 25px;
    display: flex;
    margin: 15px 0;
  }
  .sulfuryLogo.show_list {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 0;
  }
  .nav_link li a h1 {
    display: none;
  }
}