* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

.page-header {
  background-image: repeating-linear-gradient(
      45deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(90deg, rgb(17, 17, 17), rgb(66, 66, 66));
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 436px) {
  .page-header {
    height: 100px;
  }
}

.text_sulfury {
  color: white;
  margin-left: 25px;
  font-size: 50px;
}

@media screen and (max-width: 436px) {
  .text_sulfury {
    font-size: 25px;
  }
}

@media screen and (max-width: 436px) {
  header img {
    height: 50px;
  }
}

nav {
  display: flex;
  background-color: rgb(75, 75, 75);
  font-size: 175%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

@media screen and (max-width: 890px) {
  nav {
    font-size: 150%;
  }
  @media screen and (max-width: 650px) {
    nav {
      font-size: 125%;
    }
    @media screen and (max-width: 535px) {
      nav {
        font-size: 110%;
      }
      @media screen and (max-width: 450px) {
        nav {
          font-size: 95%;
        }
        @media screen and (max-width: 436px) {
          nav {
            padding: 10px;
          }
        }
        @media screen and (max-width: 415px) {
          nav {
            font-size: 85%;
          }
        }
      }
    }
  }
}

.nav_link_home {
  text-decoration: none;
  color: rgb(204, 207, 0);
}

.nav_link_reglement,
.nav_link_equipe,
.nav_link_join {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav_link_reglement2 {
  text-decoration: none;
  color: rgb(204, 207, 0);
}

.nav_link_home2,
.nav_link_equipe2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav_link_equipe3 {
  text-decoration: none;
  color: rgb(204, 207, 0);
}

.nav_link_home3,
.nav_link_reglement3 {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.picto-item {
  position: relative;
  /*les .picto-item deviennent référents*/
}

/* on génère un élément :after lors du survol et du focus :*/

.picto-item:hover:after,
.picto-item:focus:after {
  content: attr(aria-label);
  /* on affiche aria-label */
  position: absolute;
  top: -2.1em;
  left: 50%;
  transform: translateX(-50%);
  /* on centre horizontalement  */
  z-index: 1;
  /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;
  /* on interdit le retour à la ligne*/
  padding: 2% 12%;
  background: #413219;
  color: #fff;
  border-radius: 10%;
  font-size: 1.2rem;
  cursor: help;
}

@media screen and (max-width: 890px) {
  .picto-item:hover:after,
  .picto-item:focus:after {
    font-size: 1rem;
    top: -2.2em;
  }
  @media screen and (max-width: 650px) {
    .picto-item:hover:after,
    .picto-item:focus:after {
      font-size: 0.8rem;
      top: -2.2em;
    }
    @media screen and (max-width: 535px) {
      .picto-item:hover:after,
      .picto-item:focus:after {
        font-size: 0.75rem;
        top: -2.2em;
      }
      @media screen and (max-width: 450px) {
        .picto-item:hover:after,
        .picto-item:focus:after {
          font-size: 0.7rem;
          top: -2.3em;
        }
        @media screen and (max-width: 415px) {
          .picto-item:hover:after,
          .picto-item:focus:after {
            font-size: 0.65rem;
            top: -2.3em;
          }
        }
      }
    }
  }
}

/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  /* on centre horizontalement  */
  color: #413219;
  cursor: help;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}

html {
  font-family: "Arial", sans-serif;
}
