.all_card {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 100px;
}

.card {
  width: 250px;
  height: 380px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  margin-left: 8.5%;
}

.pp {
  border-radius: 5px 5px 0px 0px;
  height: 250px;
}

.role {
  background-color: rgb(209, 209, 209);
  padding: 5px 0px;
  margin: -1.5% 0% 0%;
  font-size: 110%;
}

.pseudo {
  background-color: #2f3136;
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  margin: 5% 10%;
}

.fa-lock {
  cursor: auto;
}

body div div div a:hover {
  opacity: 50%;
  transition: 0.17s linear;
}

body div div div i {
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.info-box {
  position: relative;
}

.info {
  font-weight: bold;
  border: 5px solid #ffd700;
  background-color: #bb0b0b;
  align-items: center;
  padding: 3% 5%;
  color: white;
  position: absolute;
  transform: rotate(25deg);
  margin-top: -140%;
  margin-left: 70%;
  font-size: 120%;
}
