.all_card {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 100px;
}

.card {
  width: 250px;
  height: 380px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -6px 6px 10px #c9c9c9, 6px -6px 10px #fff;
  margin-left: 8.5%;
}

.pp {
  border-radius: 5px 5px 0px 0px;
  height: 250px;
}

.role {
  background: linear-gradient(
    45deg,
    #9c9e9f 20%,
    #c2c4c6 40%,
    #eff0f0 60%,
    #c3c5c7 80%,
    #545356 100%
  );
  padding: 5px 0px;
  margin: -1.5% 0% 0%;
  font-size: 110%;
  text-shadow: #000 1px 1px 15px;
}

.pseudo {
  font-weight: 900;
  padding: 5px 0px;
  margin: 5% 10%;
  background: linear-gradient(
    45deg,
    #c28c32 20%,
    #d6b96b 40%,
    #fbf3b3 60%,
    #c09c2e 80%,
    #b17e1f 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

.fa-lock {
  cursor: auto;
}

body div div div a {
  transition: opacity 0.35s ease-in-out;
  opacity: 50%;
}

body div div div a:hover {
  opacity: 100%;
}

body div div div a:active {
  opacity: 50%;
}

body div div div i {
  color: black;
  font-size: 25px;
  cursor: pointer;
  opacity: 50%;
}

.fa-twitter:hover {
  background: linear-gradient(
    45deg,
    #139cea 25%,
    #147fef 50%,
    #1957f6 75%,
    #1d34fe 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-instagram:hover {
  background: linear-gradient(45deg, #fec461 0%, #d52a71 50%, #8f38c0 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-youtube:hover {
  background: linear-gradient(
    45deg,
    #4c0002 20%,
    #9e0001 40%,
    #bb0b0b 60%,
    #6e0000 80%,
    #410000 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-twitch:hover {
  background: linear-gradient(
    45deg,
    #b800fb 20%,
    #9001f8 40%,
    #6900ba 60%,
    #38026d 80%,
    #12122b 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-spotify:hover {
  background: linear-gradient(
    45deg,
    #f8f7cc 20%,
    #c5e87f 40%,
    #84bb49 60%,
    #50962a 80%,
    #006622 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-github:hover {
  background: linear-gradient(
    45deg,
    #5d5d5f 33.3%,
    #3c3d40 66.6%,
    #0c0d10 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-reddit:hover {
  background: linear-gradient(
    45deg,
    #f4e794 25%,
    #efc340 50%,
    #e99503 75%,
    #e2581a 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-lock:hover {
  opacity: 100%;
}

.fa-discord:hover {
  background: linear-gradient(45deg, #7289da, #2c2f33);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.fa-steam:hover {
  background: linear-gradient(
    45deg,
    #0054ab 25%,
    #003e89 50%,
    #01215c 75%,
    #000938 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 100%;
}

.link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.info-box {
  position: relative;
}

.info {
  font-weight: bold;
  border: 5px solid #ffd700;
  background-color: #bb0b0b;
  align-items: center;
  padding: 3% 5%;
  color: white;
  position: absolute;
  transform: rotate(25deg);
  margin-top: -140%;
  margin-left: 70%;
  font-size: 120%;
}

.pseudo_copied {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-copy {
  transition: opacity 0.2s ease-in-out;
  opacity: 35%;
  color: #5865f2;
  position: relative;
}

.fa-copy:hover {
  opacity: 50%;
}

.fa-copy:active {
  opacity: 35%;
}

#popup_kyosuke,
#popup_kam,
#popup_liffux,
#popup_quentin,
#popup_ryota,
#popup_xeinel,
#popup_nico,
#popup_emin,
#popup_ninfrast {
  position: absolute;
  color: white;
  background: linear-gradient(
    45deg,
    #c28c32 20%,
    #d6b96b 40%,
    #fbf3b3 60%,
    #c09c2e 80%,
    #b17e1f 100%
  );

  border-radius: 5px;
  padding: 4px;
  margin-bottom: 60px;
}
