.box_user {
  word-spacing: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.pp_pseudo {
  display: inline-grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: -5px 5px 10px rgb(168, 168, 168);
  padding: 1%;
  margin-top: 3%;
  align-items: center;
  word-spacing: 0;
}

.role {
  color: red;
  background-color: rgb(209, 209, 209);
  padding: 5px;
  margin-top: 3%;
}

.pp {
  border-radius: 5px;
  height: 200px;
}

.pseudo {
  background-color: #2f3136;
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  margin-top: 3%;
}

.link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

body div div div a:hover {
  opacity: 50%;
  transition: 0.17s linear;
}

body div div div i {
  color: black;
  font-size: 25px;
  padding: 2px 3px;
  cursor: pointer;
}
